.project-section {
  .project-card-wrapper {
    border-radius: 10px;
    background: linear-gradient(180deg, #576cbc -14.75%, #132a53 50.1%);
    box-shadow: 3px 0px 8px 0px #04152d;
  }

  .project-img-wrapper {
    overflow: hidden;
    max-height: 240px;
    height: 100%;
    width: 100%;

    img {
      transition: all 0.3s;
      width: 100%;
      height: 100%;
      // cursor: pointer;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }

  .project-card-inner-wrapper {
    padding: 10px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    h3 {
      margin: 10px 0;
    }
  }

  .project-tech-list {
    gap: 10px;
    padding: 0;
    justify-content: center;
  }

  .project-tech {
    padding: 8px 15px;
    background-color: #0b2447;
    border-radius: 20px;
  }

  .btn {
    padding: 5px 20px;
    text-decoration: none;
    font-weight: 500;
  }

  .swiper-wrapper {
    padding: 20px 0;
  }

  .swiper-slide {
    height: auto !important;
    max-width: 400px;

    .btn-container {
      justify-content: center;
      margin-top: auto;
    }
  }
}
